html
{
min-height: 101%;
height: 101%;
}

body {
	font-family:Verdana,Arial,Helvetica,Sans Serif; 
	color:#000000; 
	background:#01184e url(pics/verlauf.gif) repeat-x;  
	padding: 0px; 
	margin:20px; 
	margin-left:0px; 
	 }

a {text-decoration:none; font-weight:bold;}
a:link {color:white}
a:active {color:white}
a:visited {color:white}
a:hover {color:white}

td{
	text-align: left;
	vertical-align: top;
	}


table {
	border-style:solid;
	}
.text_1 {
	font-size:12px; 
	line-height: 24px; 
	color:#c7c8e2; 
	margin-right:50px;
	}
.bild_icon {
	margin-left:40px; 
	margin-top:40px;
	}
.head_1 {
	margin-top:30px;
	}
	
.head_2 {
	margin-top:30px;
	margin-left:50px;
	}

.text_2 {
	font-size:12px; 
	line-height: 24px; 
	color:#c7c8e2; 
	margin-right:50px; 
	margin-left:50px;}
.bild_2 {
	margin-left:80px;
	}
.bild_3 {
	margin-left:50px;
	}
.kontakt {
	margin-top:10px; //alt 30px
	}
